<% content_for :page_title do %>
  <%= Spree.t(:gift_cards) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_gift_card), new_object_url, icon: 'plus', class: 'btn btn-success' %>
<% end %>

<% content_for :table_filter do %>
  <h2>Search</h2>
  <div data-hook="admin_gift_cards_index_search">
    <%= form_tag admin_gift_cards_path, method: :get do %>
      <div class="row">
        <div class="col-md-6">
          <label>Recipient Email</label>

          <%= text_field_tag :email, params[:email], :class => 'form-control', :placeholder => 'email address...' %>
        </div>
        <div class="col-md-6">
          <label>Gift Code</label>

          <%= text_field_tag :code, params[:code], :class => 'form-control js-quick-search-target', :placeholder => 'gift code...' %>
        </div>
      </div>
      <div data-hook="admin_gift_cards_index_search_buttons" class="form-actions">
        <%= button Spree.t(:filter_results), 'search' %>
      </div>

    <% end %>
  </div>
<% end %>

<table class="index table table-hover">
  <thead>
    <tr>
      <th><%= Spree.t(:code) %></th>
      <th><%= Spree.t(:original_value) %></th>
      <th><%= Spree.t(:current_value) %></th>
      <th><%= Spree.t(:email) %></th>
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:note) %></th>
      <th class="actions" width="100"></th>
    </tr>
  </thead>
  <tbody>
    <% @gift_cards.each do |card| %>
      <tr id="<%= spree_dom_id card %>">
        <td><%= card.code %></td>
        <td><%= number_to_currency card.original_value %></td>
        <td><%= number_to_currency card.current_value %></td>
        <td><%= card.email %></td>
        <td><%= card.name %></td>
        <td><%= card.note %></td>
        <td class="actions">
          <%= link_to_edit card, no_text: true if can?(:edit, card) %>
          &nbsp;
          <%= link_to_delete card, no_text: true if can?(:delete, card) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @gift_cards %>
